html {
	height: 1000px;
    background-image: linear-gradient(rgb(204, 204, 204), rgb(34, 33, 33));
}
h1 {
    background-image: linear-gradient(blueviolet, blue, rgb(153, 6, 6));
    color: white;
    padding: 10px;
    margin: 0;
}
a {
    text-decoration: none;
    color: white;
}
main {
	color: white;
}
footer {
	color: white;
}